* {
  margin: 0;
  padding: 0;
}

body, html, .row, .container-fluid {
  font-size: 14px;
  color: #333;
  height: 100%;
}

img {
    height: 100%;
    width: 50px;
    height: auto;
}

.contenedor_login {
  background-image: url('https://www.labnutrition.com/media/storelocator/images/b/2/b2795d913e0e9c704e7543c238b59431.png');
  background-position: 50% 50%;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#btn-add {
  margin: 10px 0px; 
}

div.btn {
  margin: 0px 5px;
}

.caja_modal_login {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
  text-align: center;
}

div.display-none {
  display: none;
}

.form-horizontal .control-login {
    text-align: left;
}


form select, input {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0 .2rem;
}

input[type='text'] select {
	min-width: 153px;
}

.login-form {
  display: block;
}

.status {
  display: flex;
  align-items: center;
}

.status::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: green;
  margin-right: 5px;
}

#modal_login {
  background: #fff;
  color: #535353;
  width: 400px;
  height: 500px;
  z-index: 0;
  padding: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  margin: auto;
  bottom: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #061f33;
  color: #fff;
  padding: 50px 0px;
  height: 100%;
}

.user ul {
  width: 100%;
}

.user ul li {
  width: 100%;
  background-color: #c55d08;
  padding: 5px 0px;
  margin: 10px 0px;
}

.user-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-size: 80% 80%;
  background-position: center;
  background-color: #ccc;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/1000px-User_font_awesome.svg.png');
}

button.dropdown-toggle {
  display: flex;
  font-size: 16px;
  background: none;
  color: #000;
  border: none;
  align-items: center;
}

.btn-login {
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  width: 45%;
  border-radius: 0px;
  height: 40px;
  margin-top: 50px;
  transition: all ease 0.7s;
}

.btn-login:hover {
  background-color: #fff;
  color: #000;
  transition: all ease 0.7s;
}
